#stats { 
    position: absolute; top:0; left: 0 
}
body { 
    margin: 0; 
}
canvas { 
    width: 100%; height: 100% 
}
#container{
    /* display: none; */
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: rgba(0,0,0,0);
    color:white;
}
.inline{
    display: inline;
}